<?php
    $fieldOptions = $cloudeables;
    $checkedValues = null;
    $isScrollable = count($fieldOptions) > 10;
    
    $quickselectEnabled = true;
?>
<!-- Checkbox List -->

<div class="field-checkboxlist <?= $isScrollable ? 'is-scrollable' : '' ?>">




    <div id="sl-0" class="field-checkboxlist-inner" data-control="listwidget2">

        <?php if ($isScrollable): ?>
        <!-- Scrollable Checkbox list -->
        <div class="field-checkboxlist-scrollable">
            <div id="checkedList" class="control-scrollbar" data-control="scrollbar">
                <?php endif ?>

                <input type="hidden" name="<?= $name ?>" value="0" />

                <?php $index = 0; foreach ($cloudeables as $key => $cloudeable): ?>
                <?php
                    $checkboxIdVal = $cloudeable['key'].'*'.$cloudeable['modelId'];
                    // if (is_string($option)) $option = [$option];
                ?>
                <div class="checkbox custom-checkbox list-checkbox">
                    <input type="checkbox" id="<?= $checkboxIdVal ?>" name="prodChecked[]"
                        value="<?= $checkboxIdVal ?>">

                    <label for="<?= $checkboxIdVal ?>">
                        <?= $cloudeable['label'].' | '.$cloudeable['configuration']['label'] ?>
                    </label>

                </div>
                <?php endforeach ?>

                <?php if ($isScrollable): ?>
            </div>
        </div>
        <?php endif ?>

        <!-- Quick selection -->
        <div class="checkboxlist-controls">
            <div>
                <a href="javascript:;" data-field-checkboxlist-all>
                    <i class="icon-check-square"></i> <?= e(trans('backend::lang.form.select_all')) ?>
                </a>
            </div>
            <div>
                <a href="javascript:;" data-field-checkboxlist-none>
                    <i class="icon-eraser"></i> <?= e(trans('backend::lang.form.select_none')) ?>
                </a>
            </div>
        </div>
        <button class="btn btn-danger oc-icon-trash-o" disabled="disabled"
            onclick="$(this).data('request-data', { checked: $('#sl-0').listWidget2('getChecked')})"
            data-request="onLaunchCloud" data-request-confirm="Voulez vous vraiment creer ces documents dans le cloud ?"
            data-trigger-action="enable" data-trigger="#sl-0  input[type=checkbox]" data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', 'disabled')" data-stripe-load-indicator>
            Créer les documents selectionné
        </button>

    </div>

</div>